{% extends 'base.html.twig' %}

{% block title "Recette : " ~ recipe.title %}


{% block body %}
    <h1>{{ recipe.title  | upper }}</h1>
    <p>
        {{ recipe.description | nl2br }}
    </p>
    <ul>
        <li>
            Durée : {{ recipe.duration }} minutes.
        </li>
        <li>
            Date de création : {{ recipe.createdAt | date }}.
        </li>
    </ul>
{% endblock %}